<!--<div class="container">
  <h1 class="center">
    Routing
  </h1>
  <li>
    <a routerLink="Form-component">Form</a></li>
  <li> 
    <a routerLink="Table-Component" routerLinkActive="active">Table</a>
  </li>
  <li><a routerLink="Einfo-Component">EInfo-Component</a></li>

  <div>

    <h1 class="center">ngSwitch Case</h1>

    <router-outlet></router-outlet>

  <div class="container">
  <h1 class="center">Http API call</h1>
  <table class="table table-hover table-secondary" id="tbUser">
    <thead class="thead-light">
        <tr>
            <th class="center">Id </th>
            <th>Title</th>
            <th>User Id</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr *ngFor=" let item of Data">
      <th>{{item.id}} </th>
      <th>{{item.title}} </th>
      <th>{{item.userId}} </th>
      <th>{{item.completed}} </th>
  </tr>
  </table>
  </div>  -->
  <app-form></app-form>
  