<div class="container">
    <div class="overflow-x:auto">
        <h1 class="center">Http API call</h1>
        <table class="table table-hover table-secondary" id="tbUser">
            <thead class="">
                <tr>
                    <th class="center">Id </th>
                    <th>Title</th>
                    <th>User Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let item of dataFromApi">
                    <td>{{item.id}} </td>
                    <td>{{item.title}} </td>
                    <td>{{item.userId}} </td>
                    <td>{{item.completed}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>